extends layout

block content
  h1= title
  p Welcome to #{Raavi Adithyakrishna}
  p This represents the interesting facts about me in a clear and vivid view.
  p I am more jowel person and kind hearted just inside just try me once.
  p You will never feel regret of what you are doing.I am sure of that.
